*, *::before, *::after {
    /*box-sizing: ;*/
    font-family: fantasy;
}

:root {

}

body {
    padding: 0;
    margin: 0;
   /* display: flex;*/
    justify-content: center;
    align-items: center;
    background-color: #3C1642;
    
}

h1 {
    font-size: 70px;
    margin-top: 2rem;
}

p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin-top: 5rem;
    color: #B2FF9E
}

button {
    font-size: 30px;
    background-color: #AFFC41;
    color: black;
    margin: 50px 10px;
}

.container {
    height: 100px;
    text-align: center;
    background-color: #086375;
}

#countdown {
    text-align: center;
    font-size: 30px;
    background: #1DD3B0;
    color: #3C1642;
    width: 25%;
    margin: 2rem 10rem 2rem 5rem;
}

/*
#main {
    margin-bottom: 20px;
    font-size: 100px;
    width: 100%;
    height: 25px; 
} */
#question {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #1DD3B0;
    height: 50px;
    margin: 10px 20px;
    padding-top: 5rem;
}
#correct-answer {
    margin: 50px 50px;
    font-size: 50px;
    color: orange;
}

#score {
    font-size: 50px;
    color: #affc41
}
#score p {
    margin: 2rem 2rem;
    font-size: 50px;
}

#initials {

}

#submit {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 20px;
    box-sizing: border-box;
    font-size: 18px;
  }

  #response {
    padding-bottom: 30px;
}