*, *::before, *::after {
    /*box-sizing: ;*/
    font-family: fantasy;
}

:root {

}

body {
    padding: 0;
    margin: 0;
   /* display: flex;*/
    justify-content: center;
    align-items: center;
    background-color: rgb(74, 72, 72);
    
}

h1 {
    font-size: 50px;
    margin-top: 5rem;
}

p {
    font-size: 30px;
    margin-top: 10rem;
}

button {
  
    font-size: 30px;
    background-color: purple;
    color: white;
   
}

.container {
    width: %;
    height: 100px;
    text-align: center;
    background-color: yellow
}
#countdown {
    text-align: center;
    font-size: 30px;
    background: white; 
    width: 25%;
    margin: 2rem 10rem 2rem 5rem;
}

/*
#main {
    margin-bottom: 20px;
    font-size: 100px;
    width: 100%;
    height: 25px; 
} */

#correct-answer {
    font-size: 20px;
    color: black;
}
#initials,

#submit {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 20px;
    box-sizing: border-box;
    font-size: 18px;
  }

  #response {
    padding-bottom: 30px;
}